.cardForm{
    border-radius: 12px;
    background: rgb(255, 255, 255);  
    height: 700px; 
    box-sizing:border-box;
}

.cardsFormMedia{
    width: 280px;
  }
  .productRatingMedia{   
    gap: 14px;
  }
  .productQuantityBlockMedia{
    display: none;
  }
  .cartButtonMedia{
    width: 222px;
  }
  .oneClickButtonMedia{
    width: 260px;
  }
  .productSpecificationsMedia{
    font-size: 14px;
  }
@media screen and (min-width: 480px) {
    
  .cardsFormMedia{
    width: 212px;
  }
  .productRatingMedia{   
    gap: 4px;
  }
  .productQuantityBlockMedia{
    display: none;
  }
  .cartButtonMedia{
    width: 154px;
  }
  .oneClickButtonMedia{
    width: 192px;
  }
  .productSpecificationsMedia{
    font-size: 14px;
  }
}
  @media screen and (min-width: 768px) {
    
    .cardsFormMedia{
        width: 229px;
      }
      .productRatingMedia{   
        gap: 14px;
      }
      .productQuantityBlockMedia{
        display: none;
      }
      .cartButtonMedia{
        width: 171px;
      }
      .oneClickButtonMedia{
        width: 209px;
      }
      .productSpecificationsMedia{
        font-size: 14px;
      }
  }

  
  
  @media screen and (min-width: 1024px) {
    
    .cardsFormMedia{
        width: 300px;
      }
      .productRatingMedia{   
        gap: 14px;
      }
      .productQuantityBlockMedia{
        display: flex;
      }
      .cartButtonMedia{
        width: 113px;
      }
      .oneClickButtonMedia{
        width: 260px;
      }
      .productSpecificationsMedia{
        font-size: 18px;
      }
  }

  @media screen and (min-width: 1280px) {
  
    .cardsFormMedia{
        width: 300px;
      }
      .productRatingMedia{   
        gap: 14px;
      }
      .productQuantityBlockMedia{
        display: flex;
      }
      .cartButtonMedia{
        width: 113px;
      }
      .oneClickButtonMedia{
        width: 260px;
      }
      .productSpecificationsMedia{
        font-size: 18px;
      }
  }
  

  @media screen and (min-width: 1440px) {
   
    .cardsFormMedia{
        width: 340px;
      }
      .productRatingMedia{   
        gap: 14px;
      }
      .productQuantityBlockMedia{
        display: flex;
      }
      .cartButtonMedia{
        width: 143px;
      }
      .productSpecificationsMedia{
        font-size: 18px;
      }
  }

  @media screen and (min-width: 1920px) {
   
    .cardsFormMedia{
        width: 200px;
      }
      .productRatingMedia{   
        gap: 14px;
      }
      .productQuantityBlockMedia{
        display: flex;
      }
      .cartButtonMedia{
        width: 143px;
      }
      .oneClickButtonMedia{
        width: 300px;
      }
      .productSpecificationsMedia{
        font-size: 18px;
      }
  
  }

.textForm{
    border-radius: 6px; 
    background: rgb(233, 233, 233);
    display: flex; 
    flex-direction: column;
    gap:12px;
    padding: 20px;
    font-family: 'IBM Plex Sans';

}
.cardHead{
    display: flex;    
}

.clientBlock{
    display: flex;
    flex-direction: column;
    gap:3px;
}

.goodsIcon{
    width: 35px;
    height: 35px;    
    background-size: cover;
    border: none;  
    border-radius: 50%;
    background-color:rgb(233, 233, 233) ;
}

.topIcon{
    background-image: url('src/assets/icon/top.svg');  
}

.warrantyIcon{
    background-image: url('src/assets/icon/warranty.svg');  
}

.discountIcon{
    background-image: url('src/assets/icon/discount.svg');  
}


.presentIcon{
    background-image: url('src/assets/icon/present.svg');  
}

.hitIcon{
    background-image: url('src/assets/icon/hit.svg');  
}

.productImageBlock{
    width: 300px;  
    text-align: center;
   
}
.productImage{
    height: 268px;
    width: 149px;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('src/assets/fonts/IBMPlexSans-Regular.ttf');
  }

.productSpecifications{  
    //font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 120%;
}

.productRating{   
    display: flex;
   // gap: 14px;
    margin-top: 12px;
    align-items: center;
}



.numberReviews{   
    font-size: 12px;
    font-weight: 400;   
    padding-bottom: 4px;
}
.productType{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 10px;
}
.productTypeItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.productPrice{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.fistPrice{
color: rgb(136, 136, 136);
font-size: 20px;
font-weight: 500;
text-decoration-line: line-through;
}

.mainPrice{
font-size: 26px;
font-weight: 500;
}

.productCart{
    display: flex;
    align-items: center;
    gap:10px;    
}

.productQuantityBlock{
    //display: flex;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    gap:22px;
    width: 99px;
    height: 44px;
    border-radius: 4px;
}

.quantityButton{
    background: rgb(255, 255, 255);
    border-style: none;  
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.quantityProduct{
    border-style: none;
    width: 15px;
    height: 20px;
}
.minusButton{
    background-image: url('src/assets/icon/minus.svg');  
    background-size: cover;
}

.plusButton{
    background-image: url('src/assets/icon/plus.svg'); 
    background-size: cover;
}

.cartButton{
    cursor: pointer;
    border-radius: 10px;
    background: rgb(228, 29, 27);
    //width: 143px;
    height: 44px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    border-style: none;
}

.cartButton:hover{
    background: rgb(228, 29, 27); 
    opacity: 75%;
    border:3px solid #a50202;
    transform: scale(1.1); 
}

.likeButton{
    background-image: url('src/assets/icon/like.svg');
    background-size: contain;
    height: 28px;
    width: 28px;   
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.likeButton:hover{
    transform: scale(1.2); 
}
.oneClickButton{
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 10px;
   // width: 300px;
    height: 44px;
}

.oneClickButton:hover{
    background: white; 
    border:2px solid black;
    transform: scale(1.1); 
}