
.arrowsButtonsBlock{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-left: 10px;
  
}

.arrowsButtons{ 
    border: none;  
    height: 45px;
    width: 45px;
    cursor: pointer;
    border-radius: 50%;
    background-color:rgb(233, 233, 233) ;
}

.arrowButtonLeft{    
    background-image: url('src/assets/icon/left.png');  
    background-size: cover;  
   
}

.arrowButtonRight{    
    background-image: url('src/assets/icon/right.png');  
    background-size: cover;  
}